.googleLogo{
    position: relative;
    left: 490px;
    top: 70px;
}

.searchBox{
    position: absolute;;
    top: 290px;
    left: 395px;
}

.googleSearchButton{
    position: absolute;
    top: 330px;
    left: 580px;
}

.imFeelingLuckyButton{
    position: absolute;
    top: 330px;
    left: 730px;
}